#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@media only screen and (min-width: 768px) {
  .grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 4rem;
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
  }
}
